/* @font-face {
    font-family: 'Montserrat-Bold';
    src:url('../../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    } */

@font-face {
    font-family: 'Montserrat-Light';
    src:url('../fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
}


@font-face {
    font-family: 'Montserrat-Regular';
    src:url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src:url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
}

@font-face {
    font-family: 'Montserrat-Italic';
    src:url('../fonts/Montserrat-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
}

@font-face {
    font-family: 'Montserrat-LightItalic';
    src:url('../fonts/Montserrat-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
}

@font-face {
    font-family: 'SourceSerif4-Bold';
    src:url('../fonts/SourceSerif4Caption-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
}

@font-face {
    font-family: 'SourceSerif4-Regular';
    src:url('../fonts/SourceSerif4Caption-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
}

@font-face {
    font-family: 'Video-Regular';
    src:url('../fonts/Video-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
}