header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 100;
}
.menu {
    background-color: black;
    width: 25px;
    height: 2px;
    margin-top: 42px;
    margin-left: 35px;
    position: relative;
}
.menu::before {
    content: '';
    position: absolute;
    top: -7px;
    left: 0;
    background-color: black;
    width: 25px;
    height: 2px;
}
.menu::after {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    background-color: black;
    width: 25px;
    height: 2px;
}

.logo {
    margin-left: 40px;
    margin-top: 12px;
}
.logo_top {
    font-family: "SourceSerif4-Regular";
    font-size: 30px;
    /* letter-spacing: 3px; */
    
}
.logo_bottom {
    font-family: "Montserrat-Light";
    margin-top: -8px;
    font-size: 14px;
    letter-spacing: 2.76px;
    /* margin-left: -1px; */
}


.main {
    width: 100%;
    height: auto;
}

.section {
    width: 100%;
    height: 100vh;
    padding-top: 220px;
}
.Jobs{
    
}

.chapter{
    font-family: "SourceSerif4-Regular";
    font-size: 40px;
    text-align: center;
    padding-top: 150px;
    
}

.chapter__title{
   transition: all 1.2s;
   opacity: 0;
}

.content_wrap{
    /* transition: all 0.5s; */
    margin: auto;
    width: 1153px;
    height: 488px;
    position: relative;
}

span{
    margin: 0;
}

.left{
    margin-right: 54px;
}
.quote{
    font-family: "SourceSerif4-Regular";
    font-size: 35px;
    position: absolute;
    top: 70px;
    left: 22px;
    z-index: 2;
    opacity: 0;
}

.quote.active{
    opacity: 1 !important;
    transition: all 1.2s;
}

.white{
    color: white;
}
.black{
    color: black;
}
.bold{
    font-family: "SourceSerif4-Bold";
}

.iphone{
    width: 650px;
    height: 488px;
    margin: auto;
    box-shadow: 7px 5px 15px #00000029;
    opacity: 0;
}

.iphone.active{
    opacity: 1;
    transition: all 1.2s;
}



.lottie_scroll::-webkit-scrollbar {width:0px;}

.lottie_wrap{
    /* transition: all 0.5s; */
    height: 14500px;
    /* background-color: green; */
    position: relative;
}

#lottie-1{
    
    position: sticky;
    top: 0;
    top: 2%;
    margin: auto;
    margin-bottom: -1000px;
    /* margin-top: -2000px; */
    /* width: 97%; */
    width: 1862px;
    height: 947px;
    /* width: 40%; */
    
    image-rendering: -webkit-optimize-contrast;
    /* background-color: green; */
}

.next__wrap{
    height: 4000px;
    background-color: #fff;
}





#pinContainer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    -webkit-perspective: 1000;
            perspective: 1000;
    position: relative;
    /* display: none; */
}

#slideContainer {
    width: 500vw; 
    height: 900px;
   
}

.slider__title{
    font-family: 'Video-Regular';
    position: absolute;
    top: 65px;
    left: 883px;
    font-size: 26px;
    opacity: 0;
}

.slider__arc{
    position: absolute;
    width: 1120px;
    height: 450px;
    top: 236px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

img{
    width: 100%;
    height: 100%;
}

.panel {
    height: 900px;
    width: 20%;
    float: left;
    position: relative;
    /* background-color: red; */
}

.slide__title {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);

    height: 50px;
    width: auto;
    /* background-color: red; */
    opacity: 0;
}

#IT__title{
    transition: all 0.5s;
    opacity: 1;
    visibility: visible;
}
#Art__title{
    transition: all 0.5s;
    visibility: hidden;
    opacity: 0;
}
#Industry__title{
    transition: all 0.5s;
    visibility: hidden;
    opacity: 0;
}

.title__video{
    width: 100%;
    height: 100%;
}

.slider__video{
    width: 1040px;
    height: 450px;
    margin: auto;
    margin-top: 236px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

#video_background{
    position: absolute;
    top: -112px;
    left: -44px;
    margin-left: -15px;
    width: 1157px;
    height: 643px;
}

#video__IT{
    /* padding-left: -15px; */
}

.video__up{
    /* opacity: 0.4; */
    /* margin-top: ; */
    opacity: 0;
    /* position: sticky; */
}

#video{
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-60%);
    background-color: white;
}








.mouse {
    width: 21px;
    height: 95px;
    
    position: fixed;
    top: 785px;
    left: 1780px;
}
.mouse__line {
    width: 1px;
    height: 95px;
    background-color: #9E9E9E;
    margin: auto;
    
    
}
.mouse__body {
    width: 20px;
    height: 44px;
    border: 1px solid #9E9E9E;
    background-color: white;
    transform: translateY(-60px);
    border-radius: 15px;
    position: relative;
    margin-left: 0.5px;

    animation-name: mouse_animation;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    
}

.mouse__body::after{
    content: '';
    position: absolute;
    top: 10px;
    left: 8px;
    width: 2px;
    height: 8px;
    background-color: #9E9E9E;
   
}

@keyframes mouse_animation {
    0%{
        transform: translateY(-60px);
    }
    12.5%{
        transform: translateY(-80px);
    }
    25%{
        transform: translateY(-60px);
    }

    37.5%{
        transform: translateY(-80px);
    }

    50%{
        transform: translateY(-60px);
    }
    100%{
        transform: translateY(-60px);
    }
}